<% meta title: "Manage Episodes" %>

<h1 class="h2 regular">You have <%= current_user.episodes.count %> episodes</h1>
<ul>
  <% @episodes.each do |episode| %>
    <li>
      <%= render(partial: 'episodes/episode', locals: { episode: episode, channel: episode.channel }) %>
      <span>-</span>
      <%= link_to 'Edit', edit_episode_path(episode.id)  %>
    </li>
  <% end %>
</ul>
