<div class="col col-12 sm-col-4 md-col-3 lg-col-3">
  <div class="mb3 px2">
    <%= link_to(episode.title, slugged_channel_episode_path(channel.slug, episode.slug), class: 'block bg-gray center white py4') %>
  </div>
</div>
