<section class="py2 border-bottom">
<header>
  <h1>A letter to you</h1>
</header>

<p class="h3">
  Howdy, I'm Alex Baldwin with <em>no relation to the actor</em>, the maintainer of Ruby.fm. I'd like to share with you the story of how this shindig came to be.
</p>
<p>
  A few years back I started recording disco mixtapes to listen to with my friends during brunch, because no other music seemed appropriate. Hosting them other places on the internet was difficult, they made you do a lot of data entry, would hostily delete files, turn off your content for becoming popular, and one place even played ads between my mixes after I paid them good money. It was a mess to maintain and I spent more time managing the damn thing than making new mixes.
</p>
<p>
  Finally during a break in Austin, TX, I spent days of my vacation laboring over a little ruby script <em>(you get the name now?)</em> that would examine the files in a folder and then host them online. It was a hack job, and with a little bit of help from my friends, it worked. However sharing this script around was a bit too cumbersome for other to get the full benefit. A lot of effort would have to be put into hosting and maintaining parity with the ever-complicated iTunes specifications. Doing it yourself wasn't quite time effective either.
</p>
<p>
  Hoping to automate the process, we spent some time souping up the engine and giving it a more accessible interface the command-line. With some elbow grease and time, it's become the site you're using now. We hope to add even more fun things in the future to make it the best place to host audio in the future. Thanks for being a part of it!
</p>
<p>
  I love you, Alex Baldwin
</p>
</section>

<section class="py2">
<header>
  <h2>Swagmeter</h2>
</header>
<blockquote class="center">
  <p>
    I own the swagger supermarket an' you, you just a bag boy
    <br>
    Cause I got that swag boy, the swag you never had boy
  </p>
  <cite class="h4 caps"><a href="http://genius.com/380759/Drake-uptown/Cause-i-got-that-swag-boy-the-swag-you-never-had-boy">Lil Wayne</a></cite>
</blockquote>
<p>
  We're here to build this together with you all. Currently 100% of non-existent revenues are invested in keeping things afloat. As we get more monthly recurring revenue, we'll build more features for everyone to enjoy. It's like an Kickstarter, forever. To suggest something new, <%= mail_to("alexbaldwin@gmail.com", "shoot me a quick email") %>. Right now we're literally at the bottom, but after you sign up we'll be here, metaphorically and physically.
</p>
<ul>
  <li>$0 - iTunes podcast integration</li>
  <li>$100 - Email subscribers every time you release an episode</li>
  <li>$500 - Statistics on listens, subscribers and referrers</li>
  <li>$1,000 - Transcoder so you can upload without preprocessing</li>
  <li>$2,500 - Custom domains to show off to your friends</li>
  <li>$5,000 - Collaborators, work with some collaborators</li>
  <li>$10,000 - Host multiple podcasts from a single account</li>
  <li>$20,000 - Video podcast hosting</li>
</ul>
</section>
