<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ruby.fm</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css' rel='stylesheet' type='text/css'>
    <style>
      html, body {
        height: 100%;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        color: #333;
      }

      .table {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
      }
      .table-cell {
        display: table-cell;
        vertical-align: middle;
      }

      .header {
        text-align: center;
      }

      .h1 {
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
      }

      .h2 {
        font-weight: normal;
        color: #fff;
      }

      .cover-bg {
        background-color: #ddd;
        background-image: url("https://unsplash.imgix.net/photo-1416838375725-e834a83f62b7?dpr=2&fit=crop&fm=jpg&q=75&w=1050");
        background-size: cover;
        background-position: center center;
      }
    </style>
  </head>
  <body class="cover-bg index">
    <div style="float: right; padding: 20px;">
      <% if !user_signed_in? %>
        <a href="/login">Login</a>
      <% else %>
        <a href="/upload">Upload</a> | <a href="/shows">Shows</a>
      <% end %>
    </div>

    <section class='table'>
      <article class='table-cell'>
        <header class='header'>
          <h1 class='h1'>Ruby.fm</h1>
          <h2 class='h2'>
            Podcasts for hipsters. Coming soon...
          </h2>
        </header>
      </article>
    </section>
  </body>
</html>
