<div class="table full-width">
  <div class="table-cell col-4 py3 px4 bg-mid-gray">
    <h2 class="white h1">This is a Cast Title</h2>
    <div class="container">
      <div class="left mr1">
        <%= image_tag('', class: 'bg-gray', width: 60, height: 60) %>
      </div>
      <div class="clearfix">
      <h3 class="h6 regular white">Author Name</h3>
      <h4 class="h6 regular white">2d ago | 20 min listen</h4>
    </div>
    </div>

      <p class="h4 mt2 white">
        78701 browserbating bikes Blackberry ship
it Danielle AWSM ATX MVP Rickolas Cage
we're not your bitch we're your partner
bitch Matthew karaoke.
      </p>
    <hr class="border-white">
    <button class="button-outline white">Listen</button>
  </div>
  <div class="table-cell full-width center p2 bg-gray">
    <a href="#" class="button button-outline white">Play</a>
  </div>
</table>
