<div class="flex flex-center" style="min-height: 100vh;">
    <% unless user_signed_in? %>
<header class="px2 col-12">
  <div class="py4 center">
    <h1 class="mb3 h1 bold" style="font-size: 4rem;">Podcasting made simple.</h1>
      <%= link_to "Sign up →", new_user_registration_path, class: "h3 btn btn-primary px4 py2 mb1" %>
  </div>
</header>
    <% end %>
</div>
