<header class="center py4">
  <h1 class="">No-nonsense podcast hosting</h1>
  <p>Everything else is less than ideal, I wish I didn't have to but this had to be made.</p>
  <%= link_to "Sign up now →", new_user_registration_path, class: "button mb1" %>
  <small class="gray block">Free, for a while</small>
</header>

<div class="clearfix py4">
  <div class="col col-4 px2">
    <h3>Upload</h3>
    <p>Forget manual data entry. All information will be pre-filled with your mp3 meta tags. It's the fastest way to get your audio published.</p>
  </div>
  <div class="col col-4 px2">
    <h3>Promote</h3>
    <p>Listeners can subscribe via email, iTunes RSS, and share your episodes out. Keep track of your most popular episodes with our upcoming stats.</p>
  </div>
  <div class="col col-4 px2">
    <h3>Customize</h3>
    <p>Get your own <em>yourname.ruby.fm</em> subdomain, make it your own. Pay us some money, and we'll let you do literally whatever you want.</p>
  </div>
</div>
