<header class="py4 mb4">
  <div class="py4 center">
    <h1 class="mb1 h1 bold">No-nonsense podcast hosting</h1>
    <p class="h3 regular mb3">Self-publish audio as easily as dragging and dropping files.</p>
    <% unless user_signed_in? %>
      <%= link_to "Sign up →", new_user_registration_path, class: "h3 btn btn-primary px4 py2 mb1" %>
    <% end %>
  </div>
</header>

<section class="flex flex-center border-bottom py2 mb2">
  <h4 class="flex-auto h6 m0 caps">Featured episodes</h4>
  <h4 class="flex-none ml2 h6 m0 muted caps"><%= link_to "Learn more about us →", about_path, class: 'black' %></h4>
</section>

<section class="flex flex-wrap mxn2 mb4">
  <% @episodes.each do |t| %>
    <%= render partial: "channels/episode_card", locals: {t: t, col: 3, preview: false} %>
  <% end %>
</section>
