%article.table.full-height
  %header.table-cell
    %h1.m0 Have a podcast in 15 seconds, flat
    %h2.regular.m0.mid-gray.h3 Turn a Dropbox folder into a podcasts by dragging and dropping mp3s.
    %section.m2
    = link_to "Connect with Dropbox", dropbox_main_path, class: "button inline-block"
    = link_to "See example", "#", class: "mt1 block"
