@charset "utf-8";

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir', sans-serif !important;
}

.cover-art {
  height: 2.25em;
  width: 2.25em;
  margin-right: 1em;
  background-size: cover;
  border: inset 1px solid rgba(255,255,255,.05);
}

.cover-art-lg {
  height: 5em;
  width: 5em;
}

.list-reset {
  margin: 0;
  list-style-type: none;
}

.list-reset li {
  line-height: 1.25;
  margin-bottom: 0.5em;
}

.m0 {
  margin: 0;
}

.m2 {
  margin: 2em;
}

.mt1 {
  margin-top: 1em;
}

.full-height {
  height: 100vh;
}

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.regular {
  font-weight: normal;
}

.button {
  color: #111;
  text-decoration: none;
  border: 4px solid currentColor;
  padding: 1em;
  font-weight: 700;
}

.button:active {
  position: relative;
  top: 0.25em;
}
