/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
}

@media and (max-device-width : 480px) {
  body { text-rendering: optimizeSpeed; }
}

body, h1, h2, h3, h4, h5, h6, p, li, .regular, input, .button, textarea {
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Helvetica Neue', helvetica;
  font-weight: 300;
}

.strong, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

progress[value] {
  vertical-align: 0;
  height: 2rem;
  appearance: none;
    -webkit-appearance: none;

  &::-webkit-progress-bar {
    background-color: #9F9F9F;
  }

  &::-webkit-progress-value {
    background-color: #C1C1C1;
  }
}

.bg-gray {
  background-color: #444444;
}

.bg-mid-gray {
  background-color: #9F9F9F;
}

.bg-light-gray {
  background-color: #E8E8E8;
}
